/* Style sheet for Flappy app 2015 Devleague */
@import url(http://fonts.googleapis.com/css?family=Lato);

/* --- Generic Styles --- */
html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  background: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

section {
  display: block;
  margin: auto;
}

/* --- Layout --- */ 

/* Header */
header {
  height: 150px;
}

.logo {
  float: left;
}

.logo{
    padding: 15px 10px;
}

.logo img{
  float: left;
  /*background: url(images/logo.png);*/
}

.logo h1{
  float: left;
  color:#1ACAC8;
  font-size: 1.5em;
  margin-left: 8px;
}


/* Nav */
nav{
  float: right;
}

nav ul li {
  display: inline;
  padding: 15px;
  line-height: 3;
}


/* Content */

.hero{
  width: 100%;
  height: 250px;
  background-image: url(../images/scenery.png);
  background-position: right center;
}

aside.features {
  background: #1ACAC8;
  width: 100%;
  height: 320px;
  text-align: center;
}

.features ul{
  width: 100%;
}

.features ul li{
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  /*margin-bottom: 20px;*/
  padding-top: 20px;
}

.features ul li:first-child {
  background: #25262C;
  color: #1ACAC8;
}

.features ul li:nth-child(2), 
.features ul li:nth-child(3), 
.features ul li:nth-child(4) {
  border-bottom: 1px solid #13918E;
}

.description {
  padding: 40px;
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Footer */

.first, .second{
  float: left;
}
.third {
    float: right;
  }

footer {
  height: 350px;
}

footer section {
  padding: 30px 45px 15px;
}

footer section ul {
  font-size: 1.25em;
  line-height: 2;
}

.copy {
  text-align: center;
  padding-right: 30px;
}

/* Global Styles / Themes */
header, footer {
  background: #25262C;
  background-image: url(../images/border.png);
  background-repeat: repeat-x;
  background-position: top;
}
a{
  text-decoration: none;
  color: #1ACAC8;
}

.active a, 
.copy, 
.number, 
.white {
  color: #fff;
}

header, 
.features,
footer{
  text-transform: uppercase;
} 

/* --- Media Queries --- */
/* Small Only */
/* 640px & below */
@media only screen and (max-width: 40em){
  .second {
    display: none;
  }
}

/* 772px & below */
@media only screen and (max-width: 841px){
  header {
    height: 80px;
  }
  nav {
    display: none;
  }
  .border-menu{
    position: relative;
    top: 20px;
    padding-left: 10px;
    float: right;
    margin: 10px 50px;
  }
  .border-menu:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 5px;
    background: #1ACAC8;
    box-shadow: 
      0 20px 0 0 #1ACAC8,
      0 10px 0 0 #1ACAC8;
  }
  .logo{
    width: 300px;
  }
  .logo img{
    width: 30%;
  }
  .logo h1 {
    line-height: 2.5;
  }
  .first, .third{
    width: 27%;
  }
  .second{
    width: 40%;
  }
}

/* Medium Only */
/* 773px - 1100.8px*/ 
@media only screen and (min-width: 842px) and (max-width: 1199px){
  header section{
    padding: 35px 20px;
  }
  nav ul{
    padding: 20px 15px;
  } 
  .logo{
    width: 200px;
  }
  .logo img{
    width: 45%;
  }
  .logo h1{
    width: 95px;
  }
  .first, .third{
    width: 30%;
  }
  .second{
    width: 40%;
  }

}
@media only screen and (max-width: 1200px){
  .description{
  -webkit-box-shadow: inset 0px 4px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 4px 31px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 4px 31px -7px rgba(0,0,0,0.75);
  }
}

/* Large Only */
/* > 1100px */
@media only screen and (min-width: 1200px){
  section {
    padding: 0 30px;
    max-width: 1100px;
  }
  header section{
    padding-top: 30px;
  }
  .logo{
    width: 400px;
    padding: 5px 10px;
  }
  .logo img{
    position: absolute;
    z-index: 2;
    padding-left: 250px;
    top: 25px;
  }
  .white {
    color: #1ACAC8;
    padding-left: 50px;
  }
  .logo h1{
    font-size: 3.5em;
    letter-spacing: 10px;
    position: absolute;
    z-index: 1;
  }
  nav ul{
    border-bottom: 4px solid #1ACAC8;
  }
  nav ul li.active {
    border-bottom: 4px solid #fff;
  }
  .content{
    -webkit-box-shadow: inset 0px 2px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2px 36px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2px 36px -7px rgba(0,0,0,0.75);
  }
  .content section:first-child{
    padding-top: 40px;
  }
  .hero {
    width: 65%;
    height: 265px;
    border: 3px solid #25262C;
    float: left;
    -webkit-box-shadow: -1px -3px 27px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -3px 27px -7px rgba(0,0,0,0.75);
    box-shadow: -1px -3px 27px -7px rgba(0,0,0,0.75);
  }
  aside.features {
    float: left;
    width: 29%;
    margin: 2px 10px 2px 35px;
    height: 265px;
    -webkit-box-shadow: -2px 1px 46px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 46px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 1px 46px -8px rgba(0,0,0,0.75);
  }
  aside.features li{
    font-size: 1em;
    height: 35px;
    line-height: 1.2em;
    padding-top: 17px;
  }
  .description{
    padding: 20px 40px 40px 0;
  }
  /* Footer */
  .copy {
   background: #1ACAC8;
   padding: 15px 0;
   color: #25262C; 
  }
  .foot_menu{
    width: 30%;
    border-left: 4px solid #1ACAC8;
  }
  .foot_ul{
    padding-left: 30px;
  }
  .foot_ul li a{
    font-size: .89em;
  }
}

/*colors
dark blue:
#25262C  

teal:
#1ACAC8  

white:
#FFFFFF  

"grey":
#E2E2E2  

/*notes

box-sizing: border-box;

*/